form(novalidate,name="userForm",ng-submit="sub()")
    fieldset
        div
            label
                | 姓名：
                input(name="name",ng-model="userInfo.name",required,ng-maxlength="6",ng-minlength="2")
                span(ng-cloak,ng-show="subMark && userForm.name.$invalid") 姓名不能为空,并且长度必须为6-12个字符
        div
            label
                | 昵称：
                input(name="nickName",ng-model="userInfo.nickName",ng-maxlength="10")
                span(ng-cloak,ng-show="subMark && userForm.nickName.$invalid") 昵称长度不能超过10个字符
        div
            | 性别：
            label
                input(name="sex",type="radio",ng-model="userInfo.sex",value="man")
                | 男
            label
                input(name="sex",type="radio",ng-model="userInfo.sex",value="woman")
                | 女
        label
            | 年龄：
            input(name="age",type="number",ng-model="userInfo.age",max="100",min="18")
            span(ng-cloak,ng-show="subMark && userForm.age.$invalid") 年龄必须在18-100之间
        label
            | 生日：
            input(name="birthday",ng-pattern="/^\\d{1,2}-\\d{1,2}$/",ng-model="userInfo.birthday")
            span(ng-cloak,ng-show="subMark && userForm.birthday.$invalid") 出生年月格式必须为 xx-xx {{userForm.birthday.$error}}
        div
            | 肤色：
            label(ng-repeat="c in userInfo.allColors")
                input(type="radio",name="skinColor",ng-model="userInfo.skinColor",ng-value="c.id")
                | {{c.value}}
        div
            | 爱好：
            label
                input(name="hobby",type="checkbox",ng-model="userInfo.hobby",value="1")
                | 运动
            label
                input(name="hobby",type="checkbox",ng-model="userInfo.hobby",value="2")
                | 看电视
            label
                input(name="hobby",type="checkbox",ng-model="userInfo.hobby",value="3")
                | 看书
            label
                input(name="hobby",type="checkbox",ng-model="userInfo.hobby",value="4")
                | 旅游
            span(ng-cloak,ng-show="subMark && !userInfo.hobby.length") 请至少选择一项
        div
            | 职业：
            label(ng-repeat="p in userInfo.allProfessions")
                input(type="checkbox",name="profession",ng-model="userInfo.profession",value="{{p.id}}")
                | {{p.value}}
            span(ng-cloak,ng-show="subMark && !userInfo.profession.length") 请至少选择一项
        div
            | 学历：
            select(name="education",ng-model="userInfo.education",required)
                option(value="") 请选择
                option(value="1") 小学
                option(value="2") 初中
                option(value="3") 高中
                option(value="4") 本科
                option(value="5") 本科以上
            span(ng-cloak,ng-show="subMark && userForm.education.$invalid") 请选择学历
        div
            | 省份：
            select(name="province",ng-model="userInfo.province",ng-options="p.id as p.value for p in userInfo.allProvinces",required)
            span(ng-cloak,ng-show="subMark && userForm.province.$invalid") 请选择省份
        div
            | 邮箱：
            input(name="email",type="email",ng-model="userInfo.email")
            span(ng-cloak,ng-show="subMark && userForm.email.$invalid") 邮箱不合法
        div
            | 主页：
            input(name="homePage",type="url",ng-model="userInfo.homePage")
            span(ng-cloak,ng-show="subMark && userForm.homePage.$invalid") 地址格式错误
        div
            | 描述：
            textarea(name="introduction",ng-model="userInfo.introduction")
        button 提交
