div
    div 姓名：{{userInfo.name}}
    div 昵称：{{userInfo.nickName}}
    div 性别：{{userInfo.sex == 'man' ? '男' : '女'}} &nbsp;年龄：{{userInfo.age}}
    div 生日：{{userInfo.birthday}} &nbsp; 肤色：{{userInfo.skinColor | dataRenderFilter:userInfo.allColors}}
    div 爱好：{{userInfo.hobby | dataRenderFilter:userInfo.allHobbies}}
    div 职业：{{userInfo.profession | dataRenderFilter:userInfo.allProfessions}}
    div 学历：{{userInfo.education | dataRenderFilter:userInfo.allEducations}}
    div 省份：{{userInfo.province | dataRenderFilter:userInfo.allProvinces}}
    div 邮箱：{{userInfo.email}}
    div 主页：{{userInfo.homePage}}
    div 描述：{{userInfo.introduction}}
    div
        a.btn.btn-default(href="#/userEdit") 编辑


