.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href='#') bbs
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li.active
                    a(href='/home') 首页
                li
                    a(href='#/userInfo') 我的资料
                li
                    a(href='') 关于
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/pub') 发博
