extends layout

block content
    include header
    .container.container-body
        .row
            .col-xs-9.main
                div(ng-controller="adGlobalCtrl",style="margin-bottom:15px;")
                    img-slide-dire(width="650",height="100",direction="v",speed="4",list="adImgList")
                div(ng-view)
            .col-xs-3.menu
                include right
    include footer