.list-group
    a.list-group-item(href='#/team') 群组列表
    a.list-group-item(href='#/userList') 用户列表

.list-group
    a.list-group-item 我的帖子
    a.list-group-item 我的评论

.list-group
    a.list-group-item 热门帖子
    a.list-group-item 活跃用户

.list-group(ng-controller="noticeGlobalCtrl")
    img-fade-dire(width="202",height="70",speed="4",list="adImgList")