ul.list-unstyled.team-list(ng-controller='homeUserListCtrl')
    li(ng-repeat="user in userList")
        .pull-left.photo
            a(href='#')
                img(width='60px',height='60px',ng-src='img/photo/1.jpg')
        .pull-left
            div {{user.name}}