ul.list-unstyled.post-list
    li.clearfix(ng-repeat='post in postList')
        .pull-left.photo
            a(href='')
                img(width='60px',height='60px',ng-attr-width='',controller="userCardInfoController",template-url="/tpl/userCardInfo.html",popup-box-directive='',direction="right",ng-src='img/photo/{{post.author.photo}}')
        .pull-left.post-main
            .post-title.strong
                a(ng-href='/post/{{post.id}}') {{post.title}}
            p.post-summary {{post.content}}
            small.post-info
                span
                    span(time-directive,value='{{post.postDate}}')
                    span &nbsp;&nbsp;由&nbsp;&nbsp;
                a(href='#') {{post.author.name}}
                span &nbsp;发布在&nbsp;
                a(href='#') {{post.specCol}}
                span &nbsp;专栏浏览&nbsp;
                a(href='#') {{post.browsing}}
                span &nbsp;评论&nbsp;
                a(href='') {{post.comment}}
                span &nbsp;&nbsp;
                a(href="",confirm-directive="",width="300",ok-fn="deletePostOk(config,attr)",title="sdddd的反反复复反反复复师傅地地道道的地地道道的地方是是是是地方是是是是是是是") 删除
                span &nbsp;|&nbsp;
                a(href="",ng-click="show()") 收藏
                span &nbsp;|&nbsp;
                a() {{2+2}}